[Unit]
Description=Consul service
After=network.target

[Service]
Type=simple
Environment=GOMAXPROCS=`nproc`
ExecStart=/usr/bin/consul agent -config-dir=/etc/consul
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
RestartSec=5
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
TimeoutStartSec=0
KillMode=process

[Install]
WantedBy=multi-user.target
